<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Udpate list
        </h1>
        <input #listTitleInput class="input has-background-light is-medium" type="text" placeholder="Set new list name...">
    
         <div class="buttons is-right">          
            <button routerLink="/" class="button has-background-light is-medium">Cancel</button>
            <button class="button is-medium has-text-black" (click)="updateList(listTitleInput.value)" routerLink="/">Save</button>
         </div>
    </div>
</div>
